* {
  padding: 0;
  margin: 0;
}

:root {
  --background-color: linear-gradient(181deg, #00a2e9 50%, rgba(255, 255, 255, 0.63) 100%);
}

body.container {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  background: var(--background-color);
  display: flex;
  height: 100vh;
}

/* Navbar Side */
nav {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 18.5%;
  height: 100%;
}

nav header {
  margin-top: 10px;
  display: flex;
  padding: 60px 14px 28px;
  justify-content: center;
}

nav header .text h1 {
  color: white;
  font-size: 38px;
  letter-spacing: 2px;
}

nav header .text h2 {
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: center;
}

nav main {
  visibility: hidden;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 100%;
  width: 100%;
}

nav main ul {
  border-top: 3px solid black;
  width: 100%;
}

nav main ul li {
  height: 50px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  border-bottom: 3px solid black;
  transition: 1s;
}

nav main ul li a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  padding: 12px;
}

nav main ul li:hover {
  box-shadow: 5px 5px 20px 5px;
  border-radius: 50px;
}

/* Main Content */
main.container-content {
  display: flex;
  flex-direction: column;
  width: 81.5%;
  height: 100%;
  box-sizing: border-box;
}

main.container-content header.first {
  background-color: white;
  display: flex;
  justify-content: right;
  padding: 20px 60px 15px;
}

main.container-content header.first .wrapper-name {
  display: flex;
}

main.container-content header.first .wrapper-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
}

main.container-content header.first .wrapper-icon i {
  display: none;
}

main.container-content header.first .user-text {
  display: flex;
  align-items: center;
  border-right: 2px solid;
  padding-right: 6px;
  font-size: 28px;
}

main.container-content header.first .wrapper-name .tampil {
  position: absolute;
}

main.container-content header.first img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin-top: 5px;
  margin-left: 5px;
  border: 2.3px solid;
}

main.container-content header.second {
  background-color: #dfdfdf;
  display: flex;
  align-items: center;
  border-radius: 0px 0px 5px 5px;
  padding: 25px 25px 25px 85px;
  font-size: 28px;
}

.wrapper-content {
  display: flex;
  justify-content: space-between;
  background: var(--background-color);
  height: 100%;
}

.wrapper-content .container-profile {
  display: flex;
  width: 400px;
  max-height: 280px;
}

.wrapper-content .wrapper-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  padding: 15px;
}

.wrapper-content .wrapper-profile .profile-body {
  background: var(--background-color);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 10px 10px 20px 10px;
  height: 200px;
  width: 220px;
}

.wrapper-content .wrapper-profile img {
  height: 150px;
  width: 150px;
  border: 2px solid;
  border-radius: 100px;
}

.wrapper-content .wrapper-profile .text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
}

.wrapper-content .wrapper-profile label {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  width: 110px;
  background-color: #1e90ff;
  color: white;
}

.wrapper-content .wrapper-submit {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.wrapper-content button.submit {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  color: white;
  background: #fda3a3;
}

.wrapper-content .wrapper-identity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 105vh;
}

.wrapper-content .wrapper-identity form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: 99%;
}

.wrapper-content .wrapper-identity form .identitas {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper-content .wrapper-identity form .identitas label {
  font-size: 20px;
}

.wrapper-content .wrapper-identity form .identitas input {
  border: none;
  border-radius: 5px;
  height: 35px;
  font-size: 16px;
  padding: 0px 5px;
}

.wrapper-content .wrapper-identity form .identitas input:focus {
  outline: none;
}

.wrapper-content .wrapper-identity form .identitas select {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  height: 35px;
}

.wrapper-content .wrapper-identity form .identitas select:focus {
  outline: none;
}

.wrapper-content .wrapper-identity form .identitasInstansi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.wrapper-content .wrapper-identity form .identitasInstansi .instansiAsal {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.wrapper-content .wrapper-identity form .identitasInstansi label {
  font-size: 20px;
}

.wrapper-content .wrapper-identity form .identitasInstansi .instansiAsal select {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  height: 35px;
}

.wrapper-content .wrapper-identity form .identitasInstansi .instansiNama {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-left: 5px;
}

.wrapper-content .wrapper-identity form .identitasInstansi input {
  border: none;
  border-radius: 5px;
  height: 35px;
  font-size: 16px;
  padding: 0px 5px;
}

/* responsive */
/* @media screen and (max-width: 768px) {
    nav,.wrapper-content,main.container-content{
      display: none;
    }
} */

@media screen and (max-width: 576px) {
  body.container {
    height: 100%;
  }

  nav {
    display: none;
  }

  main.container-content {
    height: 100%;
    width: 100%;
  }

  main.container-content header.first {
    padding: 10px 15px 10px;
  }

  main.container-content header.second {
    display: none;
  }

  .wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  main.container-content header.first {
    justify-content: space-between;
  }

  main.container-content header.first .wrapper-icon i {
    display: flex;
    cursor: pointer;
  }

  .wrapper-content .wrapper-identity {
    width: 100%;
    height: 100%;
  }
}
